/* Custom Scaffolding */

// Body reset
html {
  font-size: em($font-size-base); // font-size: .875em;
  overflow: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  // edit font-size with media-queries
  @include mq($screen-sm) {
    font-size: em($font-size-base * $font-size-factor-sm);
  }
  @include mq($screen-md) {
    font-size: em($font-size-base * $font-size-factor-md);
  }
  @include mq($screen-lg) {
    font-size: em($font-size-base * $font-size-factor-lg);
  }
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: rem($font-size-base);
  height: 100vh; // Fix for iOS bug where navigation would be chopped off when there isn't enough body content
  line-height: $line-height-base;
  position: relative; // In combination with .main, this gives great results for page transition animations
}
