/**
 * Variables
 * ----------------------------------------------------------------
 */



/**
 * Grid
 */

// Media queries breakpoints

$screen-sm:                  768px !default; // Small screen / tablet

$screen-md:                  992px !default; // Medium screen / desktop

$screen-lg:                  1200px !default; // Large screen / widescreen

// // So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;



/**
 * Scaffolding
 */

// Colors

$white:                 #fff !default;
$black:                 #000 !default;

$gray-darker:           #141414 !default;
$gray-dark:             #333 !default;
$gray-light:            #bbb !default;
$gray-lighter:          #eaeaea !default;
$gray-lightest:         #f7f7f7 !default;


/**
 * Animation
 */

$animation-speed:                .1s !default;



/**
 * Components - global settings
 */

$padding-base-horizontal:   12px !default;



/**
 * Logo
 */
// $logo:          "digipolis-logo.svg" !default;
$logo-bg-color: transparent !default;
$logo-width:    60px !default;
$logo-height:   60px !default;



/**
 * Navigation
 *
 * Settings for the top navigation and the off-canvas navigation
 */

$navbar-height:                         60px !default; // needs to be the same as navbar
$navbar-app-link-color:                     $white !default;
$navbar-app-link-hover-color:               $gray-lighter !default;

$nav-aside-horizontal-padding:                  18px !default;
$nav-aside-vertical-padding:                    12px !default;
$nav-aside-item-vertical-padding:               7px !default;
$nav-aside-width:                               267px !default;
$nav-aside-extra-body-padding:                  0 !default;

$nav-aside-bg-color:                            $white !default;
$nav-aside-section-border-color:                $gray-lighter !default;
$nav-aside-title-color:                         $gray-light !default;
$nav-aside-link-color:                          lighten($gray-dark, 12%) !default;
$nav-aside-link-hover-color:                    #219dc8 !default;
$nav-aside-link-hover-background-color:         rgba($black, .05) !default;
$nav-aside-link-active-color:                   $nav-aside-link-hover-color !default;
$nav-aside-item-open-color:                     $gray-lightest !default;
